html {font-size:10px;}
body {font-size:2rem;}
* {margin:0;
    line-height:200%;}
.container{max-width:1000px;
           margin:0 auto;
           }
li span {color:red;
         font-weight:900;
         }
table{border:1px solid gray;
      width:95%;
      }
th{background:gray;
    border-bottom:1px solid gray;
    }
/*input[type="text"],input[type="password"],input[type="number"] {width:90%;height:50px;
        margin:10px 20px;
        }*/
input.one{width:90%;height:50px;
        margin:10px 20px;
        }