html {font-size:10px;}
body {font-size:2rem;}
* {margin:0; box-sizing:border-box;}
.container{max-width:1400px;
           margin:0 auto;
           }
#header {background:white;
          height:100px;
          position:relative;
          border:1px solid blcak;}
.logo {position:absolute;
        top:200px;
        left:10px;}
#nav {background:yellow;}
#nav::after{content:'';
            display:block;
            clear:both;
            }
#content{clear:both;}
li {display:inline;
    padding:20px;
    }
#menu{background:pink;
      float:left;
      width:70%;
      }

#search{background:orange;
          float:left;
          width:30%;}
#content{clear;both;
         background:blue;
         }
#content::after{content:'';
                display:block;
                clear:both;}

#left{float:left;
      width:15%;
      background:purple;
      }
#main{float:left;
      width:65%;
      background:coral;
      }
#right{float:left;
      width:20%;
      background:green;}

#footer{background:skyblue;
        clear:both;}