.container{max-width:1400px;
           margin:0 auto;
           }
header{border:1px solid black;
      height:50px;
      }
.logo {font-size:2rem;
       font-weight:900;
       padding:20px;}
.nav { float:right;}
li {list-style-type:none;}
#cstm {display:inline;
       padding:30px;
       }
.main { clear:both;
        padding:30px;
        border:1px solid black;
        height:150px;
        }

.best{ float:left;
       padding:70px;
        }
.new {float:right;
      padding:70px;
      }
footer {clear:both ;
        padding: 50px;
        border:1px solid black;
        text-align:center;
        }
footer li{clear:both;
          display:inline;
          padding:50px;
          }